body

/*color fondo*/
    {
    color: rgb(7 7 7);
    background-color: #dfe1e4;
}

h1

/*define formato titulo*/
    {
    color: rgb(121, 164, 204);
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    text-align: center;
    border: 3px solid black;
    padding: 0px;
    margin: 2px;
}

h2

/*define formato subtitulos*/
    {
    color: rgb(7 7 7);
    font-family: 'Arial', sans-serif;
    background-color: rgb(159 173 186);

    font-size: 19px;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 5px;
    margin: 3px 1px 2px 3px;
}


main

/*definir ubicacion CONTENIDO PRINCIPAL*/
    {
    flex-wrap: wrap;
    text-align: justify;
    margin: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer

/*definir ubicacion textos*/
    {
    flex-wrap: wrap;
    text-align: justify;
    margin: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p

/*define formato de textos*/
    {
    font-family: 'Georgia', serif;
    font-size: 17px;
    padding: 10px;
    margin: 20px;
}

.greeting {
    text-align: center;
}

.container

/*contenedor para centrar contenido*/
    {
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
    padding: 0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 0px 0px;
}

.column {
    flex: 1;
    padding-right: 10px;
}

.column2 {
    flex: 1;
    padding-left: 10px;
}

@media

/*Media Query*/
(max-width: 600px) {
    .column {
        flex: 100%;
    }
}

.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
}


.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.brand {
    display: flex;
    align-items: center;
}


li>a {
    padding: 8px 24px;
}


li {
    list-style-type: none;
}


a {
    color: white;
    text-decoration: none;
}


.nav-links {
    display: flex;
    align-items: center;
}


.button-menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .column {
        flex: 100%;
    }


    .nav-links {
        display: none;
    }


    .button-menu-toggle {
        display: block;
        background-color: white;
        border: none;
        border-radius: 50px;
        padding: 0 24px;
        font-family: monospace;
        font-weight: bold;
        font-size: 20px;
    }

    .nav-links.nav-links-responsive {
        position: absolute;
        display: flex;
        background-color: rgba(20, 20, 20, 0.95);
        width: 100%;
        height: 100%;
        top: 70px;
        left: 0;
        flex-direction: column;
        padding-top: 200px;
        align-items: center;
        gap: 70px;
        font-size: 40px;


    }
}